<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076634113209-998ko7j9lbbaiuqa710nhrrjp3jh25qb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076634113209-998ko7j9lbbaiuqa710nhrrjp3jh25qb</string>
	<key>API_KEY</key>
	<string>AIzaSyB8esYq0yn7XIj3YxxMy9Sdf3y9BY9HIGc</string>
	<key>GCM_SENDER_ID</key>
	<string>1076634113209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gusteau</string>
	<key>PROJECT_ID</key>
	<string>gusteau-35283</string>
	<key>STORAGE_BUCKET</key>
	<string>gusteau-35283.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076634113209:ios:72250a348197a0e6867768</string>
</dict>
</plist>